html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

#day {
    background-color: black;
    color: white;
    width: 100%;
    height: 100%;
}

section.active {
    display: block;
}

section.inactive {
    display: none;
}

.dataPlayerContainer {
    display: inline-block;
    padding: 10px;
    border: 5px solid grey;
    margin: 15px;
    transition-duration: 0.5s;
    z-index: 1;
    position: relative;
    height: fit-content;
    background-color: white;
}

.dataPlayerImg {
    width: 100px;
    z-index: 1;
}

.dataPlayerName {
    text-align: center;
    z-index: 1;
}

.dataPlayerInputs {
    width: 100px;
    height: 122.5px;
    margin: 0;
    padding: 0;
    transition-duration: 0.5s;
    position: absolute;
}

.dataPlayerContainer:hover {
    transform: scale(1.1);
    box-shadow: 0px 5px 15px 2px black;
}

.dataPlayerInputs:hover {
    left: 100%;
}

.dataEditSection {
    position: relative;
    padding: 10px;
    border: 5px solid black;
    width: fit-content;
    margin: 15px;
    z-index: 0;
    display: flex;
    height: 182.5px;
}

/* Place the navbar at the bottom of the page, and make it stick */
#navbarwrapper {
    overflow: visible;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

#navbar {
    overflow: visible;
    margin-bottom: 40px;
    width: 420px;
    padding-left: 35px;
    padding-right: 30px;
    border-radius: 30px;
    height: 60px;
    background-color: #04AA6D;
    display: flex;
    justify-content: center;
}

/* Style the links inside the navigation bar */
.navicon {
    height: 60px;
    width: 120px;
    background-color: #04AA6D;
    color: white;
    transition-duration: 0.5s;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.navicon a {
    font-size: 2em;
    color: #fff;
    font-family: 'MonacoB', sans-serif;
}
/* Change the color of links on hover 
.navicon:hover {
    translate: 0px -15px;
    box-shadow: 0px 15px 0px #01764b;
} */